[Unit]
Description=Syncthing user quadlet
PartOf=quadlets-hostwatch.target

[Container]
Image=docker.io/syncthing/syncthing:latest
ContainerName=syncthing
AutoUpdate=registry
Label=manager=hostwatch
UserNS=keep-id
SecurityLabelDisable=true
Volume=/etc/hostname:/etc/hostname:ro
Volume=/etc/hosts:/etc/hosts:ro
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/resolv.conf:/etc/resolv.conf:ro
Volume=%h:%h:rslave
Volume=%E/syncthing:/var/syncthing/config
Network=host
Environment=STGUIADDRESS=127.0.0.1:8384
Environment=PUID=%U
Environment=PGID=%G
Environment=HOME=%h
HealthCmd=curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | \
    grep -o --color=never OK || exit 1
HealthInterval=5m
HealthRetries=3
HealthTimeout=10s

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/mkdir -p %E/syncthing

[Install]
WantedBy=syncthing.target